.form-control:focus {
  @include vendor(box-shadow, none);
}

.form-control {
  border: 1px solid $lr_border_color;
  font-size: 14px;
  padding: 0.5rem .75rem;
  @include vendor(border-radius, 6px);
}

.drop-zone {
  height: 170px !important;
  @include vendor(border-radius, 4px !important);
  border: 1px solid $lr_border_color !important;
}

.content {
  height: 170px !important;
}

.show .dropdown-menu {
  display: block;
}

.ui-notification .dropdown-menu {
  right: 34px;
  top: 56px;
  width: 300px;
  left: auto;
  cursor: default;
}

.ui-notification .active path {
  stroke: $darkred_color;
}

.ui-progress-bar {
  width: 18px;
  height: 18px;
  display: inline-block;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  border-radius: 50%;
  -webkit-animation: progress-spinner 400ms linear infinite;
  -moz-animation: progress-spinner 400ms linear infinite;
  animation: progress-spinner 400ms linear infinite;
}

.ui-icon-checked {
  //&.ui-state-await {
  //  path {
  //    @include vendor(animation, check-svg 1s linear infinite reverse);
  //  }
  //}
  svg {
    padding: 1px;
  }
  path {
    stroke: $icon_green;
    stroke-dasharray: 201;
    stroke-width: 2px;
    @include vendor(animation, check-svg 1s linear reverse);
    fill: $white;
  }
}
