.ui-layout-center--login {
  background: url("../assets/lr-background.svg") center/550px no-repeat;
  display: table;
  width: 100%;
  height: 100vh;
}
.ui-layout-center--background-none {
  display: table;
  width: 100%;
  @include calc(height, '100vh - 56px');
}