.ui-panel--login {
  max-width: 360px;
  background: $white_transparent_95;
  @include vendor(box-shadow, -28px 0px 13px -28px $lr_shadow_color, 28px 0px 13px -28px $lr_shadow_color);
}

.ui-agreement-animate {
  &:hover {
    .ui-icon--new-plus path:first-child, .ui-icon--new-plus path:nth-child(2) {
      transform-origin: center;
      @include vendor(animation, plus-scale 2s infinite);
    }
    .ui-icon--new-plus path:nth-child(2) {
      @include vendor(animation-delay, .5s);
      @include vendor(animation-direction, reverse);
    }
  }
}

.ui-panel--pdf-preview {
  @include vendor(box-shadow, -28px 0px 13px -28px $lr_shadow_color, 28px 0px 13px -28px $lr_shadow_color, 0px -1px 13px 0px $lr_shadow_color);
  @include calc(max-height, '100vh - 160px');
  max-width: 100%;
  overflow-y: auto;
}

.ui-panel--storage {
  @include vendor(box-shadow, -28px 0px 13px -28px $lr_shadow_color, 28px 0px 13px -28px $lr_shadow_color, 0px -1px 13px 0px $lr_shadow_color);
}