<div class="ui-display--table ui-height--full-browser-56 w-100">
  <div class=" ui-display--table-row">
    <div class="ui-display--table-cell align-middle">
      <div class="ui-max-width--330 text-center m-auto">
        <div class="ui-width--190 m-auto" [inlineSVG]="'/assets/notary-dashboard.svg'"></div>
        <div class="text-center">
          <span class="ui-font-weight--bold ui-font-size--36 ui-color--black-semilight">Welcome to Notary!</span>
          <div class="ui-font-size--18 ui-color--light-gray px-4 py-1">
            Lorem ipsum dolor sit amet,
            has facer dicit ei, cu mel
          </div>
          <p class="clear pb-3"></p>
          <div class="text-center row px-3 mt-4">
            <button class=" mr-1 btn col ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14" routerLink="new-agreement">New Agreement</button>
            <button class=" ml-1 btn col ui-button--white  ui-font-weight--bold ui-color--light-blue" routerLink="audit">Audit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>