<app-header title="Register"></app-header>
<form (submit)="register()">
  <mat-form-field class="input">
    <input matInput [(ngModel)]="firstname" name="firstname" placeholder="First Name">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput [(ngModel)]="lastname" name="lastname" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput [(ngModel)]="email" type="email" name="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput [(ngModel)]="username" name="username" placeholder="Username">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Password">
  </mat-form-field>
  <button mat-button type="submit" id="register">Register</button>
</form>
