///*------------------------------------*\
//    #SETTINGS-FONTS all variables related to fonts.
//\*------------------------------------*/

$url_43: url("../assets/fonts/lato-light-webfont.eot");
$url_44: url("../assets/fonts/lato-light-webfont.eot?#iefix");
$url_45: url("../assets/fonts/lato-light-webfont.woff2");
$url_46: url("../assets/fonts/lato-light-webfont.woff");
$url_47: url("../assets/fonts/lato-light-webfont.ttf");
$url_48: url("../assets/fonts/lato-light-webfont.svg#latolight");
$url_49: url("../assets/fonts/lato-regular-webfont.eot");
$url_50: url("../assets/fonts/lato-regular-webfont.eot?#iefix");
$url_51: url("../assets/fonts/lato-regular-webfont.woff2");
$url_52: url("../assets/fonts/lato-regular-webfont.woff");
$url_53: url("../assets/fonts/lato-regular-webfont.ttf");
$url_54: url("../assets/fonts/lato-regular-webfont.svg#latoregular");
$url_55: url("../assets/fonts/lato-bold-webfont.eot");
$url_56: url("../assets/fonts/lato-bold-webfont.eot?#iefix");
$url_57: url("../assets/fonts/lato-bold-webfont.woff2");
$url_58: url("../assets/fonts/lato-bold-webfont.woff");
$url_59: url("../assets/fonts/lato-bold-webfont.ttf");
$url_60: url("../assets/fonts/lato-bold-webfont.svg#latobold");
$url_63: url("../assets/fonts/lato-black-webfont.eot");
$url_64: url("../assets/fonts/lato-black-webfont.eot?#iefix");
$url_65: url("../assets/fonts/lato-black-webfont.woff2");
$url_66: url("../assets/fonts/lato-black-webfont.woff");
$url_67: url("../assets/fonts/lato-black-webfont.ttf");
$url_68: url("../assets/fonts/lato-black-webfont.svg#latoblack");

$font_2: "robotolight";
$font_1: "Lato";
$font_3: "robotomedium";
