$white: #fff;

$white_transparent_95: rgba(255, 255, 255, 0.95);

$black_transparent_30: rgba(0, 0, 0, 0.3);

//light color for login-register box-shadow color
$lr_shadow_color: #DCEDF7;

//help-block text color
$darkred_color: #af1515;

//link gray color
$darkgray_color: #aaa;

//used mostly for headers font color
$black_semilight_color: #565656;

//used for very light fonts
$light_gray_color: #999;

//login-register border color
$lr_border_color: #D1E3F2;

//app blue color, used for buttons mostly
$lightblue_color: #00ACE8;

//green button, used for buttons mostly
$lightgreen_color: #4EE58B;

//used for light borders
$border_lightblue: #CCE3F2;

//app blue color, used for borders
$border_blue: #0071BC;

