<div class="ui-color--black-semilight mb-2 ui-font-weight--bold" xmlns="http://www.w3.org/1999/html">
    IPFS - Content Addressed, Versioned,P2P File System
</div>
<div class="ui-color--light-gray ">
    <label class=" pl-0 ui-cursor--pointer ui-text-decoration--underline col-7">
        <span inlineSVG="../../../../assets/icon-key.svg" class="ui-icon--key mr-1 ui-icon--key-normalize"></span>
        Show HashKey
    </label>
    <span class="col-5 pr-0">1.2Mb (PDF)</span>
</div>
<app-signees-list></app-signees-list>
<div class="text-center my-5">
    <button routerLink="../"
            class=" btn  w-49 ui-button--white ui-color--light-blue ui-font-size--14">
        Reject
    </button>
    <button
            class=" btn  w-49 ui-button--green ui-color--white ui-font-weight--bold ui-font-size--14">
        SIGN
    </button>
</div>
