//font-size clases .ui-font-size--13
@include create_base_class_px(font-size, 12);
@include create_base_class_px(font-size, 13);
@include create_base_class_px(font-size, 14);
@include create_base_class_px(font-size, 18);
@include create_base_class_px(font-size, 36);

@include create_base_class_px(width, 15);
@include create_base_class_px(width, 16);
@include create_base_class_px(width, 30);
@include create_base_class_px(width, 70);
@include create_base_class_px(width, 80);
@include create_base_class_px(width, 100);
@include create_base_class_px(width, 106);
@include create_base_class_px(width, 190);


@include create_base_class_px(margin-top, 10);

@include create_base_class_px(height, 16);
@include create_base_class_px(height, 30);

@include create_base_class_px(max-width, 330);

@include create_base_class_px(min-width, 320);

//border radius classes .ui-border-radius--11
@include create_base_class_px(border-radius, 11);

//color classes .ui-color--dark-red
@include create_base_class(color, $darkred_color, dark-red);
@include create_base_class(color, $lightblue_color, light-blue);
@include create_base_class(color, $dark_blue_color, dark-blue);

//used for gray links
@include create_base_class(color, $darkgray_color, dark-gray);
@include create_base_class(color, $white, white);
@include create_base_class(color, $black_semilight_color, black-semilight);
@include create_base_class(color, $light_gray_color, light-gray);
@include create_base_class(color, $lightgreen_color, green);

//@include create_base_class(background, none);
//@include create_base_class(border, 0, none);
@include create_base_class(outline, 0, none);

@include create_base_class(display, table);
@include create_base_class(display, table-row);
@include create_base_class(display, table-cell);

@include create_base_class(line-height, 0);
@include create_base_class_px(line-height, 27);

@include create_base_class(vertical-align, middle);
@include create_base_class(text-decoration, underline);
@include create_base_class(word-break, break-all);
@include create_base_class(cursor, pointer);
@include create_base_class(font-weight, 300, light);
@include create_base_class(font-weight, 600, bold);
@include create_base_class(font-weight, 800, black);
@include create_base_class(height, 100vh, full-browser);

.ui-height--full-browser-56 {
  @include calc(height, '100vh - 56px');
}

.ui-width--full-100 {
  @include calc(width, '100% - 100px');
}
.ui-width--full-85 {
  @include calc(width, '100% - 85px');
}

//class used for clearing floats use it on <p> tags only
.clear {
  clear: both;
  //height: 0;co
  margin: 0;
  padding: 0;
}

.w-49 {
  width: 49%;
}

//set a separator gray border to element, good for clears and divs
.ui-separator--top-gray {
  border-top: 1px solid $lr_border_color;
}

.ui-separator--bottom-gray {
  border-bottom: 1px solid $lr_border_color;
}

.ui-border--light-blue {
  border: 1px solid $border_lightblue;
}

.ui-border--blue {
  border: 1px solid $border_blue;
}