<div class="ui-panel__header ui-color--light-blue mb-3 pb-3 mt-4 ui-separator--bottom-gray ui-font-weight--bold">
    Signers <span class="ui-width--16 ui-icon--refresh d-inline-block ui-icon--refresh float-right ui-cursor--pointer"
                  [ngClass]="{'ui-state-active': refreshing}" (click)="refreshEvents()"
                  inlineSVG="../../../assets/icon-refresh.svg"></span>
</div>
<!--animate refresh button-->
<!--should go *ngFor from signees list-->
<div
     *ngFor="let event of sessionService.currentEvents; let i = index;">
    <div class="row m-0 mb-3 pb-1 ui-separator--bottom-gray" *ngIf="event.valid">
        <div class="col-1 p-0">
            <span class="ui-icon--signees float-right m-2" inlineSVG="../../assets/icon-signees.svg"></span>
        </div>
        <div class="col-11 p-0">
            <span class="ui-font-size--14 ui-color--black-semilight">{{ event.firstname }} {{ event.lastname }}</span>
            <span class="float-right ui-font-weight--bold ui-font-size--12 ui-color--light-gray"
                  *ngIf="!event.returnValues.agreed">REJECTED</span>
            <span class="float-right ui-font-weight--bold ui-font-size--12 ui-color--green"
                  *ngIf="event.returnValues.agreed">ACCEPTED</span>
            <p class="clear"></p>
            <label (click)="showSignature[i] = !showSignature[i]"
                   class="ui-text-decoration--underline ui-cursor--pointer ui-color--light-gray ui-font-size--12">view
                signature</label>
            <span class="float-right ui-color--light-gray ui-font-size--12">{{ event.time | date:'M/d/yy HH:MM:SS' }}</span>
            <div class="ui-font-size--14 ui-color--light-gray ui-word-break--break-all" *ngIf="showSignature[i]">
                {{ event.returnValues.signature }}
            </div>
            <!--<span class="float-right ui-color&#45;&#45;lightgray ui-font-size&#45;&#45;12"></span>-->
        </div>
    </div>
</div>

<!--<div class="row m-0 mb-3 pb-1 ui-separator&#45;&#45;bottom-gray" >-->
<!--<div class="col-1 p-0">-->
<!--<span class="ui-icon&#45;&#45;signees float-right m-2" inlineSVG="../../assets/icon-signees.svg"></span>-->
<!--</div>-->
<!--<div class="col-11 p-0">-->
<!--<span class="ui-font-size&#45;&#45;14 ui-color&#45;&#45;black-semilight">Firstname Lastname</span>-->
<!--<span class="float-right ui-font-weight&#45;&#45;bold ui-font-size&#45;&#45;12 ui-color&#45;&#45;green">SIGNED</span>-->
<!--<p class="clear"></p>-->
<!--<label class="ui-text-decoration&#45;&#45;underline ui-cursor&#45;&#45;pointer ui-color&#45;&#45;light-gray ui-font-size&#45;&#45;12">view signature</label>-->
<!--<span class="float-right ui-color&#45;&#45;light-gray ui-font-size&#45;&#45;12">21.Jul.2018</span>-->
<!--</div>-->
<!--</div>-->