<p class="clear mb-5"></p>
<div class="w-50 m-auto" [inlineSVG]="'/assets/logo.svg'"></div>
<form class="mt-4" [formGroup]="signupForm" (ngSubmit)="login()">

    <div formGroupName="userData">

        <div class="form-group mt-5">

            <!--<label for="username">Username</label>-->
            <input
                    type="text" placeholder="Username"
                    id="username"
                    class="form-control"
                    formControlName="username"
            >
            <span class="help-block ui-font-size--13 ui-color--dark-red"
                  *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
                                This field is required!
                             </span>
        </div>

        <div class="form-group mt-3">
            <!--<label for="password">Password</label>-->
            <input
                    type="password"
                    id="password" placeholder="Password"
                    formControlName="password"
                    class="form-control">
            <span class="help-block ui-font-size--13 ui-color--dark-red"
                  *ngIf="!signupForm.get('userData.password').valid && signupForm.get('userData.password').touched">
                                Please enter a valid password!
                            </span>
        </div>


    </div>
    <!--<span class="help-block" *ngIf="!signupForm.valid && signupForm.touched">-->
    <!--Please enter a valid data!-->
    <!--</span>-->
    <div class="text-center">
    <span class="help-block ui-font-size--13 ui-color--dark-red"
          *ngIf="wrongUserPass">
        Wrong username or password!
                             </span>
    </div>

    <button class="btn ui-button--blue ui-color--white ui-font-weight--bold w-100 ui-border-radius--11 mt-2"
            type="submit">Log In
    </button>
    <p class="clear mt-3"></p>
    <button class="btn ui-font-weight--bold ui-button--white ui-color--light-blue ui-border-radius--11 w-100 mt-4"
            routerLink="/register" type="button">Register
    </button>
    <div class="text-center mt-3">
        <label class="ui-text-decoration--underline ui-cursor--pointer ui-font-size--14 ui-color--dark-gray">Forgot your
            Password</label>
    </div>
</form>
