<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-display--table ui-height--full-browser-56 w-100">
                <div class=" ui-display--table-row">
                    <div class="ui-display--table-cell align-middle">
                        <div class="ui-panel--storage">
                            <div class="ui-separator--bottom-gray p-3 ui-font-weight--bold ui-color--black-semilight">
                                Shared Documents
                            </div>

                            <div class="px-3 ui-separator--bottom-gray">
                                <input class="form-control ui-max-width--330 mt-3 ui-height--30" type="text" placeholder="Search the document"
                                       [(ngModel)]="filterString">
                                <div  class="d-inline-block py-3 pl-3 ui-sortable-column ui-width--full-85" (click)="sort('name')">
                                    <span>SortName</span>
                                </div>
                                <div (click)="sort('sizeB')" class="ui-width--80 ui-sortable-column py-3 d-inline-block">
                                    SortSize
                                </div>
                                <p class="clear"></p>


                            </div>
                            <div class="px-3"
                                 *ngFor="let file of files | filter:filterString:'name' | sort: {property: column, order: order};">

                                <div class="ui-separator--bottom-gray p-3 d-table w-100">

                                    <div class="d-table-row">
                                        <div class="d-table-cell align-middle">
                                            <span class="d-inline-block align-middle ui-width--30 ui-height--30">
                                                <span *ngIf="getTypeIcon(file.fileType) != ''"
                                                      [inlineSVG]="getTypeIcon(file.fileType)"></span>
                                            </span>
                                            <span class="ui-cursor--pointer align-middle ui-color--light-blue ui-outline--none"
                                                  (click)="openFile(file.name, file.sizeB, file.fileType)">{{ file.name.substr(1,file.name.length) }}</span>
                                        </div>
                                        <div class="d-table-cell ui-width--80 text-right align-middle">
                                            <span class="align-middle">{{ sessionService.formatBytes(file.sizeB,2) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-12">-->
<!--<div class="ui-display&#45;&#45;table ui-height&#45;&#45;full-browser-56 w-100">-->
<!--<div class=" ui-display&#45;&#45;table-row">-->
<!--<div class="ui-display&#45;&#45;table-cell align-middle">-->
<!--<div class="ui-panel&#45;&#45;storage">-->
<!--<div class="ui-separator&#45;&#45;bottom-gray p-3 ui-font-weight&#45;&#45;bold ui-color&#45;&#45;black-semilight">-->
<!--Shared Documents-->
<!--</div>-->
<!--<div class="px-3" *ngFor="let file of files;">-->
<!--<div class="ui-separator&#45;&#45;bottom-gray p-3 d-table w-100">-->
<!--<div class="d-table-row">-->
<!--<div class="d-table-cell align-middle">-->
<!--<span class="d-inline-block align-middle ui-width&#45;&#45;30">-->
<!--<span *ngIf="getTypeIcon(file.fileType) != ''"-->
<!--[inlineSVG]="getTypeIcon(file.fileType)"></span>-->
<!--</span>-->
<!--<span class="ui-cursor&#45;&#45;pointer align-middle ui-color&#45;&#45;light-blue ui-outline&#45;&#45;none" (click)="openFile(file.name)">{{ file.name.substr(1,file.name.length) }}</span>-->


<!--</div>-->
<!--<div class="d-table-cell ui-width&#45;&#45;70 text-right align-middle">-->
<!--<span class="align-middle">{{ file.size }} MB</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="px-3">-->
<!--<div class="ui-separator&#45;&#45;bottom-gray p-3 d-table w-100">-->
<!--<div class="d-table-row">-->
<!--<div class="d-table-cell align-middle">-->
<!--<span class="d-inline-block align-middle ui-width&#45;&#45;30">-->
<!--<span inlineSVG="../../../assets/icon-pdf.svg"></span>-->
<!--</span>-->
<!--<span class="ui-cursor&#45;&#45;pointer align-middle ui-color&#45;&#45;light-blue ui-outline&#45;&#45;none"> Some document</span>-->


<!--</div>-->
<!--<div class="d-table-cell ui-width&#45;&#45;70 text-right align-middle">-->
<!--<span class="align-middle">1 MB</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="px-3">-->
<!--<div class="ui-separator&#45;&#45;bottom-gray p-3 d-table w-100">-->
<!--<div class="d-table-row">-->
<!--<div class="d-table-cell align-middle">-->
<!--<span class="d-inline-block align-middle ui-width&#45;&#45;30">-->
<!--<span inlineSVG="../../../assets/icon-pdf.svg"></span>-->
<!--</span>-->
<!--<span class="ui-cursor&#45;&#45;pointer align-middle ui-color&#45;&#45;light-blue ui-outline&#45;&#45;none"> Some document</span>-->


<!--</div>-->
<!--<div class="d-table-cell ui-width&#45;&#45;70 text-right align-middle">-->
<!--<span class="align-middle">1 MB</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->




