<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-display--table ui-height--full-browser-56 w-100">
                <div class=" ui-display--table-row">
                    <div class="ui-display--table-cell align-middle">
                        <div class="ui-panel--storage" *ngFor="let file of files;">
                            <span class="ui-cursor--pointer ui-color--light-blue ui-outline--none" (click)="openFile(file.name)">{{ file.name }}</span>
                            <span class="float-right">{{ file.size }} MB</span>
                            <!--<span class=""></span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
