<div class="d-table w-100 mb-4">
    <div class="d-table-row">
        <div class="d-table-cell ui-width--100 align-middle">
            <div class="ui-icon--new-plus"
                 inlineSVG="../../../assets/icon-signers.svg"></div>
        </div>
        <div class="d-table-cell align-middle pl-2">
            <span class="ui-font-weight--bold ui-font-size--18">Select Signers</span>
            <p class="clear"></p>
            <span class="ui-font-size--14  ui-color--light-gray">Lorem ipsum dolor sit amet,
                            has facer dicit ei, cu mel </span>
        </div>
    </div>
</div>

<select (change)="onSelect($event.target.value)" class="custom-select my-1 mr-sm-2">
    <option selected>Select</option>
    <option value="1">Only you</option>
    <option value="2">You & Second Party</option>
    <option value="3">Multiple Parties</option>
</select>
<form (ngSubmit)="onInvite(f)" #f="ngForm">
    <!--<app-document></app-document>-->
    <div *ngIf="meAndSecond">

        <input class="form-control mt-2" name="user" required ngModel placeholder="example@email.com or username123">
        <textarea class="form-control mt-2" name="message" ngModel required placeholder="Optional message"></textarea>

    </div>

    <div class="text-center my-5">
        <button type="submit" *ngIf="showNext && meAndSecond"
                class=" w-50 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
            Next
        </button>
        <!--<label class="ui-color&#45;&#45;light-gray ui-font-size&#45;&#45;14 ml-3">Skip</label>-->
    </div>
</form>
<form (ngSubmit)="onMultipleInvite(f2)" #f2="ngForm">
    <div *ngIf="multiple">
        <input class="form-control mt-2" name="users" required ngModel
               placeholder="example@email.com,username123,...">
        <textarea class="form-control mt-2" name="message" ngModel required placeholder="Optional message"></textarea>

    </div>
    <button type="submit" *ngIf="showNext && multiple"
            class=" w-50 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
        Next
    </button>
</form>