<div class="d-table w-100 mb-4">
    <div class="d-table-row">
        <div class="d-table-cell ui-width--100 align-middle">
            <div class="ui-icon--new-plus"
                 inlineSVG="../../../assets/icon-signers.svg"></div>
        </div>
        <div class="d-table-cell align-middle pl-2">
            <span class="ui-font-weight--bold ui-font-size--18">Select Signers</span>
            <p class="clear"></p>
            <span class="ui-font-size--14  ui-color--light-gray">Lorem ipsum dolor sit amet,
                            has facer dicit ei, cu mel </span>
        </div>
    </div>
</div>

<select (change)="onSelect($event.target.value)" class="custom-select my-1 mr-sm-2">
    <option selected>Select</option>
    <option value="1">Only you</option>
    <option value="2">You & Second Party</option>
    <option value="3">Multiple Parties</option>
</select>
<form (ngSubmit)="submitedMeAndSecond()" class="text-center" #f="ngForm">


    <!--<app-document></app-document>-->
    <div *ngIf="meAndSecond">

        <input class="form-control mt-2" name="user" required [(ngModel)]="receiver"
               placeholder="example@email.com or username123">
        <textarea class="form-control mt-2" name="message" ngModel required placeholder="Optional message"></textarea>

    </div>

    <div class="text-center my-5" *ngIf="showNext && meAndSecond && !signed">
        <button type="submit"
                class=" w-50 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
            Submit
        </button>
        <!--<label class="ui-color&#45;&#45;light-gray ui-font-size&#45;&#45;14 ml-3">Skip</label>-->
    </div>
    <div class="text-center my-5" *ngIf="showNext && meAndSecond && signed">
        <button routerLink="3" type="button"
                class=" w-50 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
            Next
        </button>
        <!--<label class="ui-color&#45;&#45;light-gray ui-font-size&#45;&#45;14 ml-3">Skip</label>-->
    </div>

    <div *ngIf="signedMeAndSecond && !signed" class="ui-dialog--block">
        <div class="ui-display--table ui-height--full-browser-56 w-100">
            <div class=" ui-display--table-row">
                <div class="ui-display--table-cell text-center align-middle">
                    <div class="d-inline-block text-center ui-min-width--320 bg-white p-4">
                        <div class="ui-panel__header ui-color--light-blue mb-4 pb-3 text-left ui-separator--bottom-gray ui-font-weight--bold">
                            Confirmation Dialog
                            <button (click)="signedMeAndSecond = false"
                                    class="ui-width--16 ui-button--close ui-cursor--pointer ui-outline--none border-0 bg-white p-0 float-right ui-height--16">
                                <span inlineSVG="../../../assets/icon-x.svg"></span>
                            </button>
                        </div>
                        <input placeholder="Type Your Password" class="form-control" type="password" ngModel required
                               name="password">
                        <button type="button" (click)="createSignature()" class=" btn btn-primary mt-4">Share a file
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div *ngIf="multiple">
    <p-autoComplete placeholder="Search for the users"
                    class="ui-autocomplete--form"
                    emptyMessage="There is no such user" [(ngModel)]="texts" [suggestions]="results"
                    [forceSelection]="true" (completeMethod)="search($event)" [multiple]="true"></p-autoComplete>
</div>
<form (ngSubmit)="checkUsers()" class="text-center" #f2="ngForm">
    <div *ngIf="multiple">

        <!--<input class="form-control mt-2" name="users" required ngModel-->
        <!--placeholder="example@email.com,username123,...">-->
        <textarea class="form-control mt-2" name="message" ngModel required placeholder="Optional message"></textarea>

    </div>
    <button type="submit" *ngIf="multiple && !showNext && !multipleInviteSignDialog"
            class=" w-50 mt-5 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
        Submit
    </button>
    <button type="button" *ngIf="showNext && multiple" routerLink="3"
            class=" w-50 mt-5 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
        Next
    </button>
    <div *ngIf="multiple && multipleInviteSignDialog" class="ui-dialog--block">
        <div class="ui-display--table ui-height--full-browser-56 w-100">
            <div class=" ui-display--table-row">
                <div class="ui-display--table-cell text-center align-middle">
                    <div class="d-inline-block ui-min-width--320 text-center bg-white p-4">
                        <div class="ui-panel__header ui-color--light-blue mb-4 pb-3 text-left ui-separator--bottom-gray ui-font-weight--bold">
                            Confirmation Dialog
                            <button
                                    class="ui-width--16 ui-button--close ui-cursor--pointer ui-outline--none border-0 bg-white p-0 float-right ui-height--16">
                                <span inlineSVG="../../../assets/icon-x.svg"></span>
                            </button>
                        </div>
                        <input placeholder="Type Your Password" class="form-control" type="password" ngModel required
                               name="password">
                        <button type="button" (click)="createMultipleSignature()" class=" btn btn-primary mt-4">Share a
                            file
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ui-color-light-gray ui-font-size--14 mt-2" *ngIf="await"><span
        class="ui-progress-bar"></span><span
        class="ml-1 mt-2">Awaiting for Blockchain Transaction...</span></div>
<div class="text-center mt-5">
    <button *ngIf="showNext && !meAndSecond && !multiple" routerLink="3"
            class=" w-50 btn ui-button--blue ui-color--white ui-font-weight--bold ui-font-size--14">
        Next
    </button>
</div>

<div *ngIf="transactionB && meAndSecond" class="ui-dialog--block">
    <div class="ui-display--table ui-height--full-browser-56 w-100">
        <div class=" ui-display--table-row">
            <div class="ui-display--table-cell text-center align-middle">
                <div class="d-inline-block text-center bg-white p-4">
                    <div class="ui-panel__header ui-color--light-blue mb-4 pb-3 text-left ui-separator--bottom-gray ui-font-weight--bold">
                        Confirmation Dialog
                        <button (click)="transactionB = false"
                                class="ui-width--16 ui-button--close ui-cursor--pointer ui-outline--none border-0 bg-white p-0 float-right ui-height--16">
                            <span inlineSVG="../../../assets/icon-x.svg"></span>
                        </button>
                    </div>
                    <span class="d-block pb-2 ui-separator--bottom-gray ui-font-size--14 text-left">Your transaction hash is: </span>
                    <a target="_blank" class="ui-font-size--14"
                       href="https://kovan.etherscan.io/tx/{{ transactionHash }}">{{ transactionHash
                        }}</a>
                    <p class="clear"></p>
                    <button class="ui-font-size--14 btn ui-color--white mt-2 btn--small ui-button--blue float-left mt-2"
                            (click)="transactionB = false; ">Got it
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="transactionB && multiple" class="ui-dialog--block">
    <div class="ui-display--table ui-height--full-browser-56 w-100">
        <div class=" ui-display--table-row">
            <div class="ui-display--table-cell text-center align-middle">
                <div class="d-inline-block text-center bg-white p-4">
                    <div class="ui-panel__header ui-color--light-blue mb-4 pb-3 text-left ui-separator--bottom-gray ui-font-weight--bold">
                        Confirmation Dialog
                        <button (click)="transactionB = false"
                                class="ui-width--16 ui-button--close ui-cursor--pointer ui-outline--none border-0 bg-white p-0 float-right ui-height--16">
                            <span inlineSVG="../../../assets/icon-x.svg"></span>
                        </button>
                    </div>
                    <span class="d-block pb-2 ui-separator--bottom-gray ui-font-size--14 text-left">See transactions details: </span>
                    <div class="ui-word-break--break-all text-left" *ngFor="let tx of multipleTxHashes">
                        <a target="_blank" class="ui-font-size--14" href="https://kovan.etherscan.io/tx/{{tx}}">{{ tx
                            }}</a><br/>
                    </div>

                    <button class="ui-font-size--14 btn ui-color--white mt-2 btn--small ui-button--blue float-left mt-2"
                            (click)="transactionB = false; ">Got it
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--dodati next samo kad se klikne ok u transaction dialogu-->
<!--pri sign-->
<!--loading bar isto i na preview-3-->