<div id="signatures">
  <mat-grid-list id="signatures-grid" cols="1" rowHeight="fit">
    <mat-grid-tile>
      <mat-card *ngIf=showProps>
        <mat-list>
         <mat-list-item>Name: {{documentProperties.name}}</mat-list-item>
         <mat-list-item>Size: {{documentProperties.size / 1000}}kB</mat-list-item>
         <mat-list-item>Hash: {{documentProperties.hash}}</mat-list-item>
         <mat-list-item>Type: {{documentProperties.type}}</mat-list-item>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card *ngIf=showSignatures>
        <p id="signees-header">Signees: --- <a (click)="filter()">Filter</a>, Seacrh, <a (click)="close()">Close Icon (x)</a></p>
        <mat-expansion-panel *ngFor="let event of events | validFilter:validFilterCriteria"><!--kad se collapse mora da moze da se scrolluje i da ovaj signature neide u stranu nego ka dole -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{event['valid']}}, {{ event['firstname'] }} {{ event['lastname'] }}
            </mat-panel-title>
            <mat-panel-description>
              {{ event['username'] }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
           <mat-list-item>Address: {{ event['returnValues']['signer'] }}</mat-list-item>
           <mat-list-item>Timestamp: {{ event['time'] }}</mat-list-item>
           <mat-list-item>Signature: {{ event['returnValues']['signature'] }}</mat-list-item>
           <mat-list-item>Transaction hash: <a href="https://{{ config.network_name }}.etherscan.io/tx/{{ event['transactionHash'] }}" target="_blank">{{ event['transactionHash'] }}</a></mat-list-item>
           <mat-list-item>Block number: <a href="https://{{ config.network_name }}.etherscan.io/block/{{ event['blockNumber'] }}" target="_blank">{{ event['blockNumber'] }}</a></mat-list-item>
           <mat-list-item>Block hash: {{ event['blockHash'] }}</mat-list-item>
           <mat-list-item style="color: green;" *ngIf="event['returnValues']['agreed'] == true; else rejected">Agreed</mat-list-item>
           <ng-template #rejected>
             <mat-list-item style="color: red;">Disagreed</mat-list-item>
           </ng-template>
          </mat-list>
        </mat-expansion-panel>
        <button mat-button *ngIf=showSign (click)="sign()">Sign</button>
        <button mat-button *ngIf=showHyperlink (click)="alert()">Create Hyperlink</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list><!-- promeni da mozes jos da scrollujes na mobile modu zbog ova dva carda, i width se menja na phone flipu, svi ovi 50vw 40vw...-->
</div>
